

@font-face {
    font-family: 'harry_pregular';
    src: url('/webfontkit-20210212-082146/harryp__.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 { 
    font-family: 'harry_pregular';
    font-size: 5rem;
    margin-left: 20vw;
}